<div class="row">
  <div class="col-md-6 col-sm-12">
    <%= image_tag @movie.image.url(:large) , class: 'center-block'%>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="movie-info">
      <div class="movie-title">
        <h2 class='text-center'>
          <%= @movie.title %>
        </h2>
        <div class="divider-2 centered"></div>
      </div>
      <div class="movie-description">
        <p class='text-center'>
          <%= @movie.description%>
        </p>
      </div>
      <table>
        <tr>
          <td>
            <span class='movie-property-head'>Length</span>
          </td>
          <td>
            <%= @movie.movie_length%>
          </td>
        </tr>
        <tr>
          <td>
            <span class='movie-property-head'>Director</span>
          </td>
          <td>
            <%= @movie.director%>
          </td>
        </tr>
        <tr>
          <td>
            <span class='movie-property-head'>Rating</span>
          </td>
          <td>
            <%= @movie.rating%>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
