<div class="centered">
  <%= devise_error_messages! %>
  <div class="form-center">
    <h2>Reset password</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, placeholder: 'someone@somewhere.com' , class: 'form-control text-center' %>
      </div>
      <div class="actions">
        <%= f.submit "Send me reset password instructions" , class: 'btn btn-wide btn-success' %>
      </div>
    <% end %>

    <%= link_to "Log in", :new_user_session , class: 'custom-link' %>

  </div>
</div>
