<% content_for :script_bottom do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#rating').raty({
        scoreName: 'review[rate]',
        starType: 'i'
      });
    });
  </script>
<% end %>
<%= form_for([@movie,@review]) do |f| %>
  <div class="form-center">
    <% if @review.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>
        <ul>
          <% @review.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :comment %>
      <%= f.text_area :comment , class: 'form-control text-center' %>
    </div>
    <div class="rating-section">
      <%= f.label :rating %>
      <div id='rating'></div>
    </div>
    <div class="actions">
      <%= f.submit 'Submit'  , class: 'btn btn-wide btn-primary' %>
    </div>
  <% end %>
</div>
