<!DOCTYPE html>
<html>
  <head>
    <title>MovieReview</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: 'layouts/nav' %>
    <div class="container">
      <%= yield %>
    </div>
    <% flash.each do |name,message|%>
      <script type="text/javascript">
        $(window).load(function(){
          notifyMe("<%= message.to_s %>");
        });
      </script>
    <%end%>
    
    <%= yield :script_bottom  %>
  </body>
</html>
